<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="世界最高峰SFワールド">
    <meta name="description" content="">
    <title>Home</title>
    <link rel="stylesheet" href="/gakugeki-25a64/us-central1/app/stylesheets/nicepage.css" media="screen">
    <link rel="stylesheet" href="/gakugeki-25a64/us-central1/app/stylesheets/member.css" media="screen">
<link rel="stylesheet" href="/gakugeki-25a64/us-central1/app/stylesheets/Home.css" media="screen">
<link rel="stylesheet" href="/gakugeki-25a64/us-central1/app/stylesheets/nikoniko.css" media="screen">
<link rel="stylesheet" href="/gakugeki-25a64/us-central1/app/stylesheets/cooperation.css" media="screen">
    <script class="u-script" type="text/javascript" src="/gakugeki-25a64/us-central1/app/javascripts/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/gakugeki-25a64/us-central1/app/javascripts/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 5.6.2, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    
    
    
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Gakugeki",
		"logo": "images/gakugeki-logo-v2.png"
}</script>
    <meta name="theme-color" content="#24547e">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body class="u-body u-xl-mode" data-lang="en">
    <%- include("header.ejs") %>
    <section class="u-clearfix u-container-align-center u-palette-4-base u-section-1" id="sec-3ec5">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout" style="">
            <div class="u-layout-row" style="">
              <div class="u-align-center u-container-style u-image u-image-round u-layout-cell u-radius-50 u-right-cell u-size-30 u-size-xs-60 u-image-1" src="" data-image-width="1440" data-image-height="871" id="top-logo-1">
                <div class="u-container-layout u-valign-middle u-container-layout-2" src=""></div>
              </div>
              <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-layout-cell-1" src="">
                <div class="u-container-layout u-container-layout-1">
                  <h2 class="u-align-center u-text u-text-1">〜世界最高〜
                  </h2>
                  <h3 class="u-align-center u-text u-text-3">SF世界を実現する</h3>
                  <a href="#" class="u-align-center u-border-none u-btn u-btn-round u-button-style u-hover-palette-3-light-2 u-palette-3-base u-radius-50 u-btn-1">ワールドへ</a>
                </div>
              </div>
              <div class="u-align-center u-container-style u-image u-image-round u-layout-cell u-radius-50 u-right-cell u-size-30 u-size-xs-60 u-image-1" src="" data-image-width="1440" data-image-height="871" id="top-logo-2">
                <div class="u-container-layout u-valign-middle u-container-layout-2" src=""></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-palette-1-dark-2 u-section-2" id="sec-0d88">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-default u-text-palette-2-base u-text-1">About Us</h1>
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-align-center u-container-style u-layout-cell u-size-60 u-layout-cell-1">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                  <div class="u-container-align-center u-container-style u-expanded-width u-group u-palette-5-base u-radius-30 u-shape-round u-group-1">
                    <div class="u-container-layout u-valign-middle u-container-layout-2">
                      <h4 class="u-align-center u-text u-text-default u-text-2">
                        ​日本中のテクノロジー好き<br class="block-575"/>学生が結集し<br/>「未来の完全メタバース」を<br class="block-575"/>研究開発する<br/>超本気プロジェクト！</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-container-align-center u-container-style u-layout-cell u-size-60 u-layout-cell-2">
                <div class="u-container-layout u-valign-middle u-container-layout-3">
                  <a href="https://nicepage.com/wysiwyg-html-editor" class="u-align-center u-border-none u-btn u-btn-round u-button-style u-hover-palette-3-light-2 u-palette-3-base u-radius-50 u-btn-1">詳しく</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-container-align-center u-palette-5-light-2 u-section-7">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-gutter-10 u-layout-wrap-1">
          <div class="u-layout" style="">
            <div class="u-layout-row" style="">
              <div class="u-container-style u-layout-cell u-left-cell u-layout-cell-1" src="">
                <div class="u-container-layout u-container-layout-1">
                  <h3 class="u-align-center u-text u-text-3">ニコニコ超会議2023<br/>出展決定!!</h3>
                  <a href="#" class="u-align-center u-border-none u-btn u-btn-round u-button-style u-hover-palette-3-light-2 u-palette-3-base u-radius-50 u-btn-1">ニコニコ超会議公式ページ</a>
                </div>
              </div>
              <div class="u-align-center u-container-style u-image u-layout-cell u-right-cell u-image-1" src="" data-image-width="1440" data-image-height="1440">
                <div class="u-container-layout u-valign-middle u-container-layout-2" src=""></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include("nikoniko.ejs") %>
    <section class="u-clearfix u-container-align-center u-palette-5-base u-section-3" id="sec-5815">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 class="u-align-center u-text u-text-default-lg u-text-default-xl u-text-palette-2-base u-text-1">開発プロジェクト</h1>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-align-center u-container-style u-list-item u-palette-4-base u-radius-50 u-repeater-item u-shape-round u-list-item-1">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                <img alt="" class="u-expanded-width u-image u-image-round u-radius-50 u-image-1" src="/gakugeki-25a64/us-central1/app/images/VR.jpg">
                <h4 class="u-align-center u-text u-text-3">Main Project</h4>
                <h3 class="u-align-center u-text u-text-default u-text-4">Metaverse開発</h3>
              </div>
            </div>
            <div class="u-container-align-center u-container-style u-list-item u-palette-4-base u-radius-50 u-repeater-item u-shape-round u-list-item-2">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                <img alt="" class="u-expanded-width u-image u-image-round u-radius-50 u-image-2" data-image-width="1920" data-image-height="1280" src="/gakugeki-25a64/us-central1/app/images/Coding.jpg">
                <h4 class="u-align-center u-text u-text-3">Sub Project</h4>
                <h3 class="u-align-center u-text u-text-default u-text-4">Webサイト開発</h3>
              </div>
            </div>
            <div class="u-container-align-center u-container-style u-list-item u-palette-4-base u-radius-50 u-repeater-item u-shape-round u-list-item-3">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                <img alt="" class="u-expanded-width u-image u-image-round u-radius-50 u-image-3" data-image-width="1280" data-image-height="720" src="/gakugeki-25a64/us-central1/app/images/Entertainment.jpg">
                <h4 class="u-align-center u-text u-text-3">Sub Project</h4>
                <h3 class="u-align-center u-text u-text-default u-text-4">新感覚エンタメ</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include("member.ejs") %>
    <section class="u-clearfix u-palette-1-base u-section-5" id="sec-a6e2">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h4 class="u-align-center u-text u-text-default u-text-palette-2-base u-text-3">ええあいいちば</h4>
        <h1 class="u-align-center u-text u-text-default u-text-palette-2-base u-text-1">絵え愛市場</h1>
        <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout" style="">
            <div class="u-layout-row" style="">
              <div class="u-align-center u-container-style u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-layout-cell-1" src="">
                <div class="u-container-layout u-valign-top u-container-layout-1" src="">
                  <img class="u-expanded-width u-image u-image-round u-radius-50 u-image-1" src="/gakugeki-25a64/us-central1/app/images/絵え愛市場.jpeg" data-image-width="2071" data-image-height="772">
                </div>
              </div>
              <div class="u-align-center u-container-style u-layout-cell u-right-cell u-shape-rectangle u-size-30 u-size-xs-60 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <h3 class="u-align-center u-text u-text-default u-text-2">日本初となる<br/>メタバース空間上でのAIアート<br/>販売展示会
                  </h3>
                  <a href="" class="u-align-center u-border-none u-btn u-btn-round u-button-style u-hover-palette-3-light-2 u-palette-3-base u-radius-50 u-btn-1">展示会へ</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-section-6" id="sec-e698">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 class="u-align-center u-text u-text-default u-text-palette-2-base u-text-1">参加・協力</h1>
        <h4 class="u-align-center u-text u-text-2">学檄INFINITE製作委員会では参加・協力くださる方々を随時募集中！<br>製作に関わってみたい学生の方、学檄を応援したい企業の方、<br class="block-1199"/>まずはお気軽にご相談ください<br>ワールド内に広告を出すこともできます
        </h4>
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-align-center u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                  <h3 class="u-align-center u-text u-text-default u-text-3">学生の方</h3>
                  <h4 class="u-align-center u-text u-text-default u-text-4">学檄INFINITE製作委員会に参加したい</h4>
                  <a href="https://nicepage.com/k/aesthetic-html-templates" class="u-align-center u-border-none u-btn u-btn-round u-button-style u-hover-palette-3-light-2 u-palette-3-base u-radius-50 u-btn-1">こちらから</a>
                </div>
              </div>
              <div class="u-container-align-center u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                  <h3 class="u-align-center u-text u-text-default u-text-5">ご協賛について</h3>
                  <h4 class="u-align-center u-text u-text-default u-text-6">学檄INFINITE製作委員会に協力したい</h4>
                  <a href="https://nicepage.com/k/test-website-templates" class="u-align-center u-border-none u-btn u-btn-round u-button-style u-hover-palette-3-light-2 u-palette-3-base u-radius-50 u-btn-2">こちらから</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include("cooperation.ejs") %>
    <%- include("footer.ejs") %>
</body></html>